<%- include('partials/header.ejs') -%>
<script src="/js/user/userPage.js"></script>
<div id="center-content">
<div id="app"></div>
</div>
    <script src="bundle.js"></script>

<%- include('partials/footer.ejs') -%>