

body {
    width: 100vw;;
    height: 100vh;
    overflow-x: hidden;
}

/* special thanks to github user @dollybuzz for userOptions and abcRioButton css design! */
#userOptions>.g-signin2>.abcRioButton{
    margin-right: 0 !important;
    margin-left: auto !important;
}

.abcRioButton{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
#userOptions {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
header{
}

#center-content{
    margin: 0 auto;
    max-width: 1000px;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.4), rgba(255,255,255,.4), rgba(255,255,255,.4),  rgba(255,255,255,.4), rgba(255,255,255,.4), rgba(255,255,255,.4),  rgba(255,255,255,.4), rgba(255,255,255,.4), rgba(255,255,255,.4),  rgba(255,255,255,.4), rgba(255,255,255,.4), rgba(255,255,255,.4),  rgba(255,255,255,.4), rgba(255,255,255,.4), rgba(255,255,255,.4),  rgba(255,255,255,.4), rgba(255,255,255,.4), rgba(255,255,255,.4),  rgba(255,255,255,.4), rgba(255,255,255,.4), rgba(255,255,255,.4),  rgba(255,255,255,.4), rgba(255,255,255,.4), rgba(255,255,255,.4),  rgba(255,255,255,.4), rgba(255,255,255,.4), rgba(255,255,255,.4), rgba(255,255,255,0));

}

.interface-input{
    height: 6vh;
    font-size: xx-large;
    width: 20vw;
}

.report-table{
    background-color: white;
    border-radius: 8px;
    font-size: xx-large;

    margin: 15px auto;
    max-height: 14vh;
    max-width: 80vw;
    overflow-y: scroll;
}

.type-select {
    height: 6vh;
    font-size: xx-large;
    display: inline;
    margin-left: 3vw;
    width: min-content;
}

.btn-circle{
    border-radius: 100%;
    font-size: x-large;
    width: 7vw;
    height: 7vw;
    margin-left: 3vw;
}

.interface {
    margin-bottom: 8vh;
}

#signin-div{
    margin: 0 auto;
}


.report-label{
    margin: 0 auto;
    margin-bottom: -20px;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    font-family: "Arial Black";
    background-color: rgba(255, 255, 255, .8);
    border-radius: 15px 15px 0 0;
    max-width: 50vw;
}

#headContainer{
    opacity: .1;
    height: 300px;
}
@media screen and (max-width: 1000px) {

    #headContainer{
        opacity: .2;
        height: 200px;
    }

    .type-select {
        height: 10vh;
        font-size: xx-large;
        display: inline;
        margin-left: 5vw;
        margin-right: 2vw;
        width: min-content;
        border-radius: 25px;
    }

    .btn-circle{
        border-radius: 100%;
        font-size: xxx-large;
        width: 30vw;
        height: 30vw;
    }

    .interface{
        margin-bottom: 8vh;
    }

    /* special thanks to github user @dollybuzz for userOptions and abcRioButton css design! */
    #userOptions>.g-signin2>.abcRioButton{
        margin-right: 0 !important;
        margin-left: auto !important;
    }

    .abcRioButton{
        display: block;
        margin: 0 auto;
        border-radius: 10px;
    }
    #userOptions {
        font-size: xx-large;
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .report-label{
        margin: 0 auto;
        margin-bottom: -20px;
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
        font-family: "Arial Black";
        background-color: rgba(255, 255, 255, .8);
        border-radius: 15px 15px 0 0;
        max-width: 50vw;
    }
    .interface-input{
        height: 8vh;
        font-size: xxx-large;
        width: 20vw;
    }
}